<%= render 'projects/navbar' %>
<p id="notice"><%= notice %></p>
<h1 style="text-align:center;">Welcome</h1>
<p align="center">My name is Chase Bauer and I am studying computer science at UCCS. These are some of my projects!</p>
<br>
<table>
  <tbody>
  <div class="flexBox">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="container2 containerWidth rounded">
      <div class = "col-sm">
            <h4><%= project.title %></h4>
            <%= truncate(project.description, :length => 40) %>
            <br>
            <%= link_to 'Show Project', project, class:"rounded btn-secondary", style:"color:white"%>
            </p>
      </div>    
      </div>
    <% end %>
    </div>
    </div>
  </tbody>
</table>

<br>

